footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $gray-light;
  font-size: 14px;
  text-align: center;
  padding: 12px;
  background: $gray-dark-bg;
  strong {
    color: $gray-medium;
  }
}
